@import "../../../sass/base";

.banner {
    grid-column: full-start / full-end;
    background-image: linear-gradient(rgba($color-header, .70), rgba($color-header, .70)), url(../../../Resources/img/banner.jpg);
    background-size: cover;
    background-position: center;

    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(6, 1fr);

    &__title-box {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        align-content: center;
        transform: translateX(14rem);

        border: .5rem solid $color-primary;

    }

    &__title {
        grid-row: 2 / span 2;

        background: #fff;
        width: 100%;
        color: $color-dark;
        opacity: 0.9;

        padding: 2rem 2rem;

        transform: translateX(-16rem);
        margin-left: -7rem;
        line-height: 1.3em;
    }

    &__message {
        display: grid;
        grid-column: 1 / span 3;
        grid-row: 3 / span 1;
        height: 100%;

        font-size: 1.8vw;
        line-height: 1.4em;
        letter-spacing: .3rem;
    }

    &__case-study-box {
        background: #fff;
        width: 50%;
        max-width: 350px;
        position: absolute;
        right: 0;
        bottom: 125px;

        float: right;
        margin-right: 5%;
        border-bottom: .4rem solid $color-primary;
        background-color: rgb(248, 248, 248);

        h3 {
            position: absolute;

            background-color: $color-secondary-dark;
            margin-left: -30px;
            margin-top: -30px;

            padding: 0 15px;
            display: inline-block;
        }

        h3 .entry-title {
            text-decoration: none;
            font-size: 2.4rem;
            color: #fff;
            @extend %heading;
        }

        &__inner {
            padding: 2rem;
        }

        p {
            color: #000;
            font-size: 1.8rem;
            font-family: $font-display;
            line-height: 1.4em;

            &:nth-child(1) {
                padding-top: 30px;
                display: block;
            }
        }

    }
}