@import "../../../sass/base";

.showcase2 {
    grid-column: full-start / center-end;

    margin-bottom: 15rem;

    display: grid;
    grid-template-columns: 2fr 1fr;

    
    &-title {
        display: grid;
        align-content: center;
        justify-items: center;

        font-size: 4.6rem;
        background-color: $color-primary;
        background: linear-gradient(rgba($color-primary, .80), rgba($color-primary, .100));
        width: 100%;
        transform: translateX(-4rem);
    }

    &__text {
        display: grid;
        grid-template-rows: repeat(4, 1fr);

        .inner-text {
            grid-row: 2 / span 2;
            background-color: rgb(204, 245, 245);
            transform: translateX(-8rem);

            display: grid;
            align-content: center;
            justify-self: center;
        }

        p {
            font-size: 2rem;
            color: #000;
            padding: 2rem;
            text-align: start;
        }
    }

    &__img {
        width: 100%;
    }
}