// COLOR VARIABLES
$color-primary: rgb(223, 198, 146);
$color-primary-dark: rgb(163, 143, 100);

$color-header: #384b61;

$color-secondary: #62b4b0;
$color-secondary-dark: #3ba19c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;
$color-dark: rgb(43, 41, 40);


$sub-color: grey;
$main-color: black;


// FONT VARIABLES
$font-primary: 'Nunito',
sans-serif;
$font-display: adobe-garamond-pro,
serif;