@import "../../../sass/base";

.projects {
    margin: 10rem 0;

    display: grid;
    grid-column: center-start / center-end;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    grid-gap: 7rem;

    @media (max-width: 800px) {
        grid-column: full-start / full-end;
        grid-row-gap: 4rem;

        margin: 10rem 1.5rem;
    }

    @media (max-width: 700px) {
        grid-column: full-start / full-end;
        grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
        grid-row-gap: 4rem;

        margin: 10rem 1.5rem;
    }
}

.project {
    background-color: $color-grey-light-1;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr min-content;
    grid-row-gap: 2rem;

    @media (max-width: 420px) {
        grid-row-gap: 2rem;
    }

    &__img {
        width: 100%;
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        z-index: 1;
        opacity: .7;
        transition: all .4s;
    }

    &__img:hover {
        opacity: 1 !important;
    }

    &__name {
        grid-row: 1;
        grid-column: 1 / -1;
        justify-self: center;
        align-self: end;
        z-index: 3;

        width: 70%;
        border: .4rem solid rgb(223, 198, 146);

        text-align: center;
        padding: 1.25rem;
        background-color: #ffffff;
        color: rgb(133, 115, 76);

        font-size: 1.6rem;
        font-family: adobe-garamond-pro, serif;
        font-weight: 600;
        transform: translateY(50%);

        @media (max-width: 420px) {
            font-size: 1.5rem;
            padding: .6rem;
        }
    }

    &__description {
        grid-row: 2;

        font-size: 1.9rem;
        padding: 2.5rem 2rem .5rem 2rem;

        p {
            align-self: start;
        }

        @media (max-width: 420px) {
            font-size: 1.6rem;
            padding: 0 1rem;
            margin-top: 1.3rem;
        }
    }



    &__btn {
        grid-column: 1 / -1;
        grid-row: 3;
    }

}