@import "../../../sass/base";

.designers {
    grid-column: center-start / center-end;

    border-top: .8rem solid $color-primary;
    border-right: .8rem solid $color-primary;

    margin: 5rem 0;

    @media(max-width: 800px) {
        grid-column: full-start / full-end;
        margin: 0 1.5rem;
    }

    @media(max-width: 600px) {
        border-top: .3rem solid $color-primary;
        border-right: .3rem solid $color-primary;
        margin-top: 0;
    }

    &__title {
        text-align: start;
        text-transform: uppercase;
        letter-spacing: .5rem;
        font-size: 5rem;
        color: $color-dark;
        color: rgb(34, 32, 32);

        @media(max-width: 1200px) {
            font-size: 3rem;
            text-align: center;
        }

        @media(max-width: 600px) {
            margin-top: 2rem;
            font-size: 5vw;
        }
    }
}

.designer-wrapper {
    margin-top: 10rem;
    margin-bottom: 20rem;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    grid-gap: 5rem;
    align-items: start;

    margin: 4rem 6rem;


    @media(max-width: 600px) {
        grid-gap: 3rem;
        margin: 2rem 3rem;
    }

    @media(max-width: 400px) {
        grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
    }

    &__title {
        display: block;
        color: $color-primary;
    }
}

.designer-card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, min-content);


    justify-items: center;

    .designer-name {
        padding: 1rem 2rem;
        width: 110%;
        background-color: $color-secondary-dark;
        transform: translateY(-1rem);
        z-index: 100;

        color: rgb(255, 255, 255);

        @media(max-width: 1200px) {
            font-size: 1.1rem;
            width: 105%;
        }

        @media(max-width: 600px) {
            width: 100%;
            margin: 1.2rem 0;
            padding: .6rem;
            background-color: transparent;
            color: $color-dark;
        }
    }

    &--img {
        width: 100%;
        opacity: .8;
    }
}