.toggle-button {
    margin-top: -12px !important;
    margin-right: -20px !important;
}


span.sc-htpNat.sc-gqjmRU.gWhACu,
span.sc-htpNat.sc-gqjmRU.gWhACu::before,
span.sc-htpNat.sc-gqjmRU.gWhACu::after,
span.sc-htpNat.sc-gqjmRU.eHnDHV,
span.sc-htpNat.sc-gqjmRU.eHnDHV::before,
span.sc-htpNat.sc-gqjmRU.eHnDHV::after {
    width: 30px !important;
    height: 2px;
}