@import "../../../sass/base";

.contact-form {
    grid-column: center-start / center-end;
    display: grid;
    grid-template-columns: 1fr 1.7fr;

    margin: 5rem 0;

    @media(max-width:900px) {
        grid-template-columns: 1fr;
    }

    @media(max-width:500px) {
        grid-column: full-start / full-end;
        margin: 0 2rem;
    }

    &__box-left {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr .6fr 1fr 3fr;

        @media(max-width:900px) {
            grid-template-rows: 1fr .6fr 1fr 2.5fr;

            grid-row-gap: 2rem;
        }

        &__title {
            padding-top: 3rem;
            font-size: 3rem;
            color: $color-dark;
            text-transform: uppercase;
            letter-spacing: .8rem;
            text-align: left;

            @media(max-width:500px) {
                font-size: 2rem;
            }
        }

        &__address,
        &__phone-email,
        &__info {
            font-size: 1.9rem;
        }

        &__address {}

        &__phone-email {}

        &__info {
            padding-right: 2rem;

            @media(max-width:900px) {
                padding: 0;
            }
        }

    }
}

.form {
    &__title {
        padding: 3rem 0;
        font-size: 3rem;
        color: $color-dark;
        text-transform: uppercase;
        letter-spacing: .8rem;
        text-align: center;

        @media(max-width:900px) {
            text-align: left;
            padding: 1rem 0;
        }

        @media(max-width:500px) {
            margin-top: 4rem;
            font-size: 2rem;
        }
    }

    .select {
        text-align: left;
        width: 60%;
        font-size: 1.6rem;

        @media(max-width:450px) {
            width: 90%;
        }
    }

    &__btn {
        width: 20rem;
    }
}