*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

*:focus {
  outline: none
}


html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px/16px = 62.5%;
}

body {
  font-weight: 300;
  line-height: 1.6;
  font-size: 4rem;
}

.home-container {
  display: grid;
  grid-template-rows: auto 90vh min-content 80vh repeat(3, min-content) min-content;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}