@import "../../../sass/base";

.specialization {

    grid-column: full-start / full-end;

    margin-bottom: 10rem;

    display: grid;
    grid-template-columns: 1.3fr 1fr;

    &__box-right {
        display: grid;
        grid-template-rows: 1fr 1.6fr;
    }

    &__title {
        text-align: start;
        transform: translateX(-7rem);
        display: grid;
        align-content: center;
        font-size: 5rem;
        color: $color-dark;
        letter-spacing: 1rem;
    }

    &__img {
        width: 100%;
        opacity: .7;
    }

    &__icons {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, min-content);
        align-content: center;

        grid-gap: 3rem;
        margin: 0 2rem;
    }

    &__icon {
        display: grid;
        grid-template-columns: 1fr;

        transition: all 0.4s ease-in-out;
        text-transform: uppercase;
        padding: 4rem;
        border: .1rem solid $color-primary;
        width: 100%;

        p {
            justify-self: center;

            font-family: 'Work Sans', sans-serif;
            font-weight: 500;
            font-size: 1.6rem;
        }

        &:hover {
            box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.55);
            cursor: pointer;
        }
    }
}