@import "../../../sass/base";

.brand-message {
    position: relative;
    margin-top: 0rem;
    margin-bottom: 15rem;

    @media (max-width: 400px) {
        margin-bottom: 10rem;
    }

    grid-column: full-start / full-end;

    &__img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    .centered {
        background: linear-gradient(rgba(rgb(39, 28, 28), .50), rgba(rgb(25, 70, 78), .50)) !important;
        padding: 6rem;
        color: rgb(255, 255, 255);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @media (max-width:800px) {
            padding: 4rem 6rem;
            width: 70vw;

            .heading-1 {
                font-size: 4.5rem;
            }
        }

        @media (max-width:700px) {
            padding: 1rem;
            width: 90vw;

            .heading-1 {
                font-size: 3rem;
            }
        }
    }

    .centered p {
        color: #fff;
        font-size: 2rem;

        @media (max-width:700px) {
            font-size: 1.5rem;
        }
    }
}