@import "../../../sass/base";
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);

.gallery {
    display: grid;
    grid-column: center-start / center-end;

    margin-bottom: 6rem;

    &__title {
        padding: 5rem 0;
        font-size: 3rem;
        text-transform: uppercase;
        letter-spacing: .5rem;
        margin-left: -10rem;

        border-bottom: 0.5rem solid $color-primary;
        border-right: 0.5rem solid $color-primary;

        @media(max-width: 1500px) {
            margin-left: 0;
        }

        @media(max-width: 900px) {
            text-align: center;
            font-size: 4vw;
        }

        @media(max-width: 475px) {
            margin: 0 2rem;
            border-bottom: 0.3rem solid $color-primary;
            border-right: 0.3rem solid $color-primary;
            font-size: 2rem;
        }
    }

    /* The Masonry Container */
    &__masonry {
        grid-column: center-start / center-end;
        column-gap: 2rem;
        margin: 2rem 0;
    }

    &__item-container {
        overflow: hidden;
        margin-bottom: 2rem;
    }

    /* The Masonry Brick */
    // &__item {
    //     padding: 2rem;
    // }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;

        transition: 0.8s ease;
        opacity: 0.8;

        &:hover {
            opacity: 1;
            transform: scale(1.05);
        }
    }

    /* Masonry on large screens */
    @media only screen and (min-width: 1024px) {
        &__masonry {
            column-count: 3;
        }
    }

    /* Masonry on medium-sized screens */
    @media only screen and (max-width: 1023px) and (min-width: 768px) {
        &__masonry {
            column-count: 3;
        }
    }

    /* Masonry on small screens */
    @media only screen and (max-width: 767px) and (min-width: 440px) {
        &__masonry {
            column-count: 2;
        }
    }

    @media only screen and (max-width: 440px) and (min-width: 319px) {
        grid-column: full-start / full-end !important;

        &__masonry {
            column-count: 2 !important;

            margin: 0.5em 0.2em;
            column-gap: 0.2em;
        }

        &__item {
            position: relative;
            margin: 0;
        }

        &__item-container {
            margin-bottom: 0.8rem;
        }
    }
}