@import "../../../sass/base";

.header {
    background-color: $color-grey-dark-1;
    grid-column: full-start / full-end;
    background-image: linear-gradient(rgba($color-header, .70), rgba($color-header, .70)), url(../../../Resources/img/header-background.jpg);
    background-size: cover;
    background-position: center;
    padding: 8rem;
    padding-top: 4rem;
    border-radius: 0 0 0 40%;

    display: grid;
    grid-template-rows: 1fr min-content minmax(8rem, min-content) 1fr;
    grid-template-columns: minmax(min-content, max-content);
    grid-row-gap: 4rem;
    justify-content: center;

    .heading-1 {
        align-self: center;
        justify-self: center;
    }

    &__btn {
        align-self: center;
        justify-self: center;
    }

    &__logos {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-column-gap: 2.5rem;
        justify-items: center;
        align-items: center;

        @media (max-width: 1200px) {
            grid-column-gap: .5rem;
        }

        img {
            max-height: 5.5rem;
            max-width: 100%;
            filter: brightness(70%);
        }
    }

    @media (max-width: 1200px) {
        border-radius: 0 0 0 54%;
    }

    @media (max-width: 700px) {
        border-radius: 0 0 0 50%;


        .heading-1 {
            font-size: 10vw;
            margin-bottom: 0;
        }
    }


    @media (max-width: 600px) {
        .header__btn {
            font-size: 3vw;
            padding: 1.1rem 2rem;
        }
    }
}