.footer {
    background-color: blue;
    grid-column: full-start / full-end;

    display: grid;
    grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
    grid-template-columns: minmax(min-content, max-content);

}