@import "../../sass/base";

.footer {
    grid-column: full-start / full-end;
    background-image: linear-gradient(rgba($color-header, .70), rgba($color-header, .70)), url(../../Resources/img/banner.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 3rem;
    padding: 10rem;
    border-radius: 70% 0 0 0;

    display: grid;
    grid-template-rows: 1fr;
    grid-row-gap: 5rem;
    justify-content: center;

    @media (max-width: 450px) {
        grid-row-gap: 2rem;
        padding: 5rem;
    }

    &__links ul {
        margin-top: 2rem;

        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;

        @media (max-width: 450px) {
            padding-left: 2rem;
            flex-wrap: wrap;
            width: 80vw;
        }

        li:not(:first-of-type) {
            padding-left: 3rem;

            @media (max-width: 450px) {
                padding-left: 1.5rem;
            }
        }

        li {
            font-size: 2rem;

            @media (max-width: 450px) {
                font-size: 1.5rem;
                padding: 1rem 0;
            }
        }

        a {
            color: $color-primary;

            font-family: adobe-garamond-pro, serif;
            font-weight: 500;

            text-decoration: none;
            transition: .3s;

            &:hover,
            &:active {
                color: rgb(233, 232, 229);
            }

        }
    }

    .heading-2.footer__logo {
        justify-self: center;

        @media (max-width: 450px) {
            font-size: 3rem;
            padding: 1.8rem 0;
        }
    }
}