@import "../../../sass/base";

.mission-vision {
    grid-column: center-start / center-end;

    margin: 10rem 0;

    display: grid;
    grid-template-columns: 1fr 1.5fr;

    @media(max-width: 1200px) {
        grid-column: full-start / full-end;
        margin: 0 2rem;
        margin-bottom: 10rem;
        grid-template-columns: 1fr;
    }

    @media(max-width: 980px) {
        margin-top: 10rem;
    }

    @media(max-width: 680px) {
        margin-top: 6rem;
    }

    &__content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-row-gap: 3rem;
        padding: 3rem;

        @media(max-width: 600px) {
            padding: 1.5rem;
        }
    }

    &__box-left {
        transform: translateY(-7rem);
        border: .5rem solid $color-primary;
        background-color: #fff;
        padding: 0 3rem 2rem 2rem;
        width: 120%;

        @media(max-width: 1200px) {
            transform: translateY(0);
            padding: 2rem;
            width: 100%;
        }


        @media(max-width: 460px) {
            border: .3rem solid $color-primary;
            padding: 1rem;
        }
    }

    .mission,
    .vision {

        &__title {
            font-size: 4rem;
            text-transform: uppercase;
            letter-spacing: 1rem;

            @media(max-width: 1200px) {
                font-size: 3rem;
            }

            @media(max-width: 600px) {
                font-size: 5vw;
            }
        }

        &__text {
            font-size: 2rem;
            font-family: $font-display;

            padding-right: 3rem;

            @media(max-width: 1200px) {
                padding-right: 3rem;
            }

            @media(max-width: 600px) {
                font-size: 1.8rem;
                padding: 0;
            }
        }
    }

    &__img {
        width: 100%;
        z-index: 10;
        opacity: .7 !important;
    }

    &__btn {
        width: 20rem;

        @media(max-width: 600px) {
            width: 100%;
            font-size: 1.2rem !important;
        }
    }
}